funasr>=1.2.7
requests>=2.32.5
cerebras>=0.0.1
protobuf>=6.33.0
google-genai>=1.41.0
openai>=2.6.0
transformers>=4.57.1
pillow>=11.3.0
pdf2image>=1.17.0
reportlab>=4.4.4
jieba>=0.42.1
soundfile>=0.13.1
# plz handle torch and torchaudio installation by yourself according to your environment
# torch>=2.8.0+cu129
# torchaudio>=2.8.0+cu129
yt-dlp>=2025.10.22
uvicorn>=0.38.0
fastapi>=0.119.1
pydantic>=2.11.10
gradio>=5.49.1
dotenv>=0.9.9
python-dotenv>=1.1.1